<Configurations>
    <Configuration name="GlobalConfig">
        <RLibPath>D:\SSD_USER\Documents\R\win-library\3.3</RLibPath>
        <RExePath>C:\Program Files\R\R-3.3.2\bin\Rscript.exe</RExePath>
        <WorkDir>D:\SSD_USER\Documents\NetBeansProjects\Develop\PlotUI\src\test\resources\r_dev\ACMO-p</WorkDir>
        <GcmMapping>I1XF:Hot-Wet:yellow|GWXF:Hot-Dry:red|GIXF:Hot-Wet:yellow|GEXF:Cool-Dry:blue|0XXX:Base:#D3D3D3|GMXF:Cool-Wet:green|IEXF:Cool-Dry:blue|IWXF:Hot-Dry:red|ILXF:Cool-Wet:green|ICXF:Middle:#333333|GJXF:Middle:#333333|</GcmMapping>
    </Configuration>
    <Configuration name="StandardPlot">
        <title>CM5CM6</title>
        <plotType>BoxPlot</plotType>
        <plotFormat>PDF</plotFormat>
        <plotVar>HWAH_S</plotVar>
        <plotMethod>ABSOLUTE</plotMethod>
        <inputDir>CM5\RCP4.5</inputDir>
        <inputDir2>CM6\RCP4.5</inputDir2>
        <outputPath>plot_output_ui</outputPath>
        <outputACMO>true</outputACMO>
        <outputGraph>CM5CM6</outputGraph>
    </Configuration>
    <Configuration name="CorrelationPlot">
        <title>Yield-Biomass</title>
        <plotFormat>PNG</plotFormat>
        <plotVarX>HWAH_S</plotVarX>
        <plotVarY>CWAH_S</plotVarY>
        <group1>CMSS</group1>
        <group2>No</group2>
        <inputDir>CM2-CC</inputDir>
        <outputPath>plot_output_ui</outputPath>
        <outputACMO>true</outputACMO>
        <outputGraph>Correlation</outputGraph>
    </Configuration>
    <Configuration name="CTWNPlot">
        <plotFormat>PDF</plotFormat>
        <plotVar>HWAH_S</plotVar>
        <inputDir>CTWN</inputDir>
        <outputPath>plot_output_ui\CTWNPlot-HWAH_S</outputPath>
        <outputACMO>true</outputACMO>
    </Configuration>
    <Configuration name="HistoricalPlot">
        <title>CM0</title>
        <plotType>ScatterPlot</plotType>
        <plotFormat>PDF</plotFormat>
        <plotVar>CWAH_S</plotVar>
        <plotMethod>RELATIVE</plotMethod>
        <inputDir>CM0</inputDir>
        <outputPath>plot_output_ui</outputPath>
        <outputACMO>true</outputACMO>
        <outputGraph>CM0</outputGraph>
    </Configuration>
    <Configuration name="ClimAnomaly">
        <plotVar>TMAX</plotVar>
        <plotType>relative</plotType>
        <plotFormat>PNG</plotFormat>
        <inputDir>D:\SSD_USER\Documents\NetBeansProjects\Develop\PlotUI\target\test-classes\r_dev\wth_data</inputDir>
        <outputPath>plot_output</outputPath>
        <outputGraph>ClimAnomaly</outputGraph>
    </Configuration>
</Configurations>