<Configurations>
    <Configuration name="GlobalConfig">
        <RLibPath>D:\SSD_USER\Documents\R\win-library\3.3</RLibPath>
        <RExePath>C:\Program Files\R\R-3.3.2\bin\Rscript.exe</RExePath>
        <GcmMapping>IEKA:Cool-Dry|IEFA:Hot-Dry|0XFX:Base|ZZZZ:Cool-Wet|</GcmMapping>
    </Configuration>
    <Configuration name="StandardPlot">
        <title>Result</title>
        <plotType>BoxPlot</plotType>
        <plotFormat>png</plotFormat>
        <plotVar>HWAH_S</plotVar>
        <inputDir>D:\SSD_USER\Documents\NetBeansProjects\Develop\PlotUI\target\test-classes\r_dev\bad_data</inputDir>
        <outputPath>plot_output</outputPath>
        <outputACMO>acmo_output.csv</outputACMO>
        <outputGraph>StdPlot</outputGraph>
    </Configuration>
    <Configuration name="CorrelationPlot">
        <plotFormat>png</plotFormat>
        <plotVarX>NUCM_S</plotVarX>
        <plotVarY>HWAH_S</plotVarY>
        <group1>CRID_text</group1>
        <group2>SOIL_ID</group2>
        <inputDir>D:\SSD_USER\Documents\NetBeansProjects\Develop\PlotUI\target\test-classes\r_dev\good_data</inputDir>
        <outputPath>plot_output</outputPath>
        <outputGraph>CorPlot</outputGraph>
    </Configuration>
    <Configuration name="ClimAnomaly">
        <plotFormat>png</plotFormat>
        <plotVar>TMAX</plotVar>
        <plotType>relative</plotType>
        <plotFormat>png</plotFormat>
        <inputDir>D:\SSD_USER\Documents\NetBeansProjects\Develop\PlotUI\target\test-classes\r_dev\wth_data</inputDir>
        <outputPath>plot_output</outputPath>
        <outputGraph>Climate</outputGraph>
    </Configuration>
</Configurations>