<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-Language" content="en-us" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Validation Report</title>
        <style type="text/css">
            .style2 {
                border-style: solid;
                border-width: 1px;
                background-color: #C0C0C0;
            }
            .style4 {
                border-width: 0px;
            }
            .style11 {
                border-style: solid;
                border-width: 1px;
            }
            .style12 {
                border-style: solid;
                border-width: 1px;
                text-align: center;
            }
            .style13 {
                text-align: center;
                font-size: x-large;
            }
        </style>
    </head>

    <body>

        <p class="style13">Validation Report</p>
        <p>The follow tables shows the missing variable used for plot in each ACMO file.</p>
        #foreach ( $csv in $reports.keySet() )
        <p>$!{csv.getPath()}</p>
        <table class="style4">
            <tr>
                #foreach ( $var in $titles.get($csv) )
                <td class="style2" style="width: 70px"><strong>$var.toUpperCase()</strong></td>
                #end
            </tr>
            #foreach ( $farm in $reports.get($csv) )
            <tr>
                #foreach ( $var in $titles.get($csv) )
                  #if ($var.equals("exname"))
                  <td class="style11">$!farm.get($var)</td>
                  #else
                  <td class="style12">$!farm.get($var)</td>
                  #end
                #end
            </tr>
            #end

        </table>
        #end

    </body>

</html>
