<Configurations>
    <Configuration name="StandardPlot">
        <title>Result</title>
        <plotType>b</plotType>
        <plotFormat>png</plotFormat>
        <plotVar>HWAH_S</plotVar>
        <inputFile>D:\SSD_USER\Documents\NetBeansProjects\Develop\PlotUI\target\test-classes\r_dev\input_avg.txt</inputFile>
        <outputPath>plot_output</outputPath>
        <outputACMO>acmo_output.csv</outputACMO>
        <outputGraph>output</outputGraph>
    </Configuration>
</Configurations>